<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - latihan1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">latihan1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="navbar-nav flex-grow-1">
                        <div class="mynav-navbar">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </div>
                        <div class="mynav_dropdown">
                            <button class="mynav_dropdown">
                                Master
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="mynav_dropdown-content">
                                <a href="/Mahasiswa"classnav-link text-dark">Mahasiswa</a>
                                <a href="/Dosen"classnav-link text-dark">Dosen</a>
                            </div>
                        </div>
                        <div class="mynav_navbar">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Rekap">Rekap</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - latihan1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        .mynav_navbar{
            overflow: hidden;
        }
        .mynav_navbar a{
            float: left;
            font-size: 16px;
            color: white;
            text-align: center;
            
            text-decoration: none;
        }
        .mynav_dropdown{
            float: left;
            overflow: hidden;

        }
        .mynav_dropdown .mynav_dropbtn{
            font-size: 16px;
            border: none;
            outline: none;
           
            background-color: inherit;
            font-family: inherit;
            margin: 0;
        }
        .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn{
            background-color: red;
        }
        .mynav_dropdown-content{
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 100px;
            box-shadow: 0px 8px 16px 0px rgb((0,0,0,0,2));
            z-index: 1;
        }
        .mynav_dropdown-content a{
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left; 
        }
        .mynav_dropdown-content a:hover{
            background-color: #ddd;
        }
        .mynav_dropdown:hover .mynav_dropdown-content{
            display: block;
        }
    </style>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
