@page
@model IndexModel
@{
  ViewData ["Title"] = "Home page";
}
<div class="text-center">
  <h1 class="display-4"> Project First Website </h1>
  <p>Belajar ASP.NET Mudah dan menyenangkan !!! </p>
</div>
