@page
@model MahasiswaaddModel
@{ ViewData["Title"]="Add Mahasiswa";}
<h2>Tambah Mahasiswa</h2>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mhs.Nim" class="control-label"/>
                <input asp-for="Mhs.Nim" class="form-control"/>
                <span asp-validation-for="Mhs.Nim" class="text-danger"/>
            </div>
            <div class="form-group">
                <label asp-for="Mhs.Nama" class="control-label"/>
                <input asp-for="Mhs.Nama" class="form-control"/>
                <span asp-validation-for="Mhs.Nama" class="text-danger"/>
            </div>
            <div class="form-group">
                <label asp-for="Mhs.Kelas" class="control-label"/>
                <input asp-for="Mhs.Kelas" class="form-control"/>
                <span asp-validation-for="Mhs.Kelas" class="text-danger"/>
            </div>
            <div class="form-group">
                <label asp-for="Mhs.Jurusan" class="control-label"/>
                <input asp-for="Mhs.Jurusan" class="form-control"/>
                <span asp-validation-for="Mhs.Jurusan" class="text-danger"/>
            </div>
            <input asp-for="Mhs.Id" type="hidden"/>
            <div class="form-group">
                <input type="submit" value="simpan" class="btn btn-primay"/>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}